/* STYLESHEET FOR SecretAgentSupply/index */

html {
  font-size: 18px;
}

body {
  color: white;
  font-family: Helvetica, sans-serif;
}

/* ---- elements ---- */



/* ---- classes ---- */

.container {
  background-color: yellow;  /* TEMP */
  width: 100%;
}


/* ---- identifiers ---- */
